<h1>New Inventory</h1>

<%= render 'form', inventory: @inventory %>

<br>

<%= link_to '<i class="glyphicon glyphicon-arrow-left"></i>'.html_safe, :back , class: 'btn btn-default' %>     <%= link_to '<i class="glyphicon glyphicon-search"></i>'.html_safe, search_path , class: 'btn btn-default' %>
