


<div class="jumbotron">
<div class="jumbotron vertical-center">	
	<img src="/assets/logonew1.png" width="500" height="200" alt="TurboLogo" />
	<p></p>
	 <%= render 'layouts/search' %>
	<p></p>

</div>
