


<div class="jumbotron center">
	<img src="http://s3-us-west-1.amazonaws.com/inventoryturbo/logonew1.png" width="500" height="200" alt="TurboLogo" />
	<p>
	 <%= render 'layouts/search' %>
	</p>

</div>
